<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>raflow</string>
	<key>CFBundleExecutable</key>
	<string>raflow</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>dev.raflow.raflow</string>
	<key>CFBundleName</key>
	<string>raflow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSInputMonitoringUsageDescription</key>
	<string>raflow 需要監看鍵盤事件，才能偵測您雙擊 Cmd 觸發語音輸入。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>raflow 需要麥克風，才能擷取您的語音以供辨識。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>raflow 使用 Apple Speech 將您的語音轉寫為文字，並注入到您目前聚焦的輸入框。</string>
</dict>
</plist>
